body{
    display: grid;
    margin: 0;
}

header{
    background-color: #4d4d4d;
    height: 60px;
}

#header_contentwrapper{
    position: relative;
    display: flex;
    justify-content: space-between

}

.header_button{
    height: 60px;
    background-color: #4d4d4d;
    width: 32%;
    border-style: none;
}

.header_button_text{
    color: aliceblue;

    transition: 200ms ease-out;
}

.header_button_left:hover{
    background-image: linear-gradient(90deg, #acacac, 80%, #4d4d4d);
}

.header_button_middle:hover{
    background-image: linear-gradient(90deg, #4d4d4d, 20%, #acacac, 80%, #4d4d4d);
}

.header_button_right:hover{
    background-image: linear-gradient(90deg, #4d4d4d, 20%, #acacac);
}

.header_button_text:hover{
    color: #000000;
}

.header_devider{
    margin-top: 4px;
    background-color: white;
    height: 53px;
    width: 2px;
    rotate: 20deg;
}

main{
    background-color: white;
    min-height: 700px;
    overflow: hidden;
}

#main_contentwrapper{
    width: fit-content;
    display:flex;
    position: relative;
    z-index: 1;
    right: 0px;
}

#article_slide{
    display:contents;
    width: 200px;
    overflow: hidden;
}

.main_article{
    margin: 5px;
    user-select: none;
    width: 300px;
    height: 700px;
    margin-right: 0px;
    display: grid;
    justify-content: center;
    background-color: grey;

    transition: all, 200ms;
    transition-timing-function: cubic-bezier(0.3, 0.56, 0.26, 0.88);
}

.main_article iframe{
    height: 500px;
    pointer-events:none;
}

.main_article a{
    color:black;
    text-decoration: none;
    text-align: center;
    font-size: x-large;
    background-color: rgba(255, 255, 255, 50%);
    margin: 10px;
    pointer-events: all;
}

.main_article:hover{
    background-color: rgb(94, 94, 94);
}

.main_article a:hover{
    background-color: rgba(255, 255, 255, 25%);
}

footer{
    position:static;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #4d4d4d;
    display: flex;
    box-shadow: 0 50vh 0 50vh #4d4d4d;
}

#footer_contentwrapper{
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-evenly;
}

.footer_seperator{
    background-color: rgba(255, 255, 255, 0.5);
    width: 2px;
    height: 200px;
    margin: 5px;
}

.footer_infos{
    text-align: center;
}

.footer_infos_desc{
    color: #acacac;
    margin-top: -10px;
    line-height: 1px;
}