main{
    min-height: 700px;
    --text: #eff4ee;
    --background: #090e09;
    --background-accent: #090e09;
    --background-accent-accent: #090e09;
    --primary: #a9c9a7;
    --primary-accent: #a9c9a7;
    --secondary: #643e61;
    --accent: #9f6b63;

}

#main_contentwrapper{ 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color: var(--text);
    overflow: hidden;

    min-height: 700px;
    padding-left: 50px;
}

#main_contentwrapper div{
    margin-bottom: 100px;
    position: relative;
}

.sort_button{
    height: 60px;
    background-color: var(--background);
    width: 32%;
    border-style: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    
}

.list{
    list-style: none;
    background-color: #9f6b6365;
    margin-left: -70px;
    margin-right: 20px;
    margin-top: 5px;
    padding: 1px;
    border-radius: 10px;
    transition: all 50ms;
}

.list div{
    padding-left: 20px;
    height: fit-content;
}

.reverse_padding{
    margin-bottom: -90px;
    visibility: hidden;
}

.list:hover{
    border-radius: 5px;
    scale: 1.01;
    background-color: #9f6b63b7;
}

.list h1{
    color: var(--primary);
}

.list h3{
    margin-top: -25px;

    color: var(--text);
}

.list p{
    width: 500px;
    color: rgba(255, 255, 255, 0.705);
}

.sort_button_text{
    margin-top: 10px;
    color: var(--text);
}

.sort{
    margin-left: 100px;
    width: fit-content;
    height: 50px;
    display: flex;
}

.recent{
    background-color: var(--background);
    border-radius: 10px;
    border-style: none;
}

.recent:hover{
    background-color: var(--secondary);
}

.extra_padding_recent_text{
    margin-top: 7px;
    padding-left: 15px;
}